@model IEnumerable<WorldDominion.Models.Product>

@{
    var departments = Model.Select(p => p.Department.Name).Distinct();
}

@foreach (var department in departments)
{
    <div class="department-section">
        <h2>@department</h2>
        <div class="product-container">
            @foreach (var item in Model.Where(p => p.Department.Name == department))
            {
                <div class="product-card">
                    <div class="product-content">
                        <div class="heading">
                            <h3 class="product-title">@Html.DisplayFor(modelItem => item.Name)</h3>
                            <a href="@Url.Action("Details", "Products", new { id = item.Id })" class="details-link">Details</a>
                        </div>
                        <p class="product-description">@Html.DisplayFor(modelItem => item.Description)</p>
                        <p class="product-price">MSRP: @Html.DisplayFor(modelItem => item.MSRP)</p>
                        <form asp-controller="Carts" asp-action="AddToCart">
                            <input type="hidden" name="productId" value="@item.Id">
                            <input type="hidden" name="quantity" value="1">
                            <input type="submit" value="Quick Add to Cart" class="add-to-cart-btn">
                        </form>
                        @if (User.IsInRole("Admin"))
                        {
                            <a href="@Url.Action("Edit", "Products", new { id = item.Id })" class="edit-link">Edit</a>
                            <a href="@Url.Action("Delete", "Products", new { id = item.Id })" class="delete-link">Delete</a>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
}