@model IEnumerable<WorldDominion.Models.Product>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MSRP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MSRP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                    <form asp-controller="Carts" asp-action="AddToCart">
                        <input type="hidden" name="productId" value="@item.Id">
                        <input type="hidden" name="quantity" value="1">
                        <input type="submit" value="Quick Add to Cart" class="btn btn-success">
                    </form>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                    @if (User.IsInRole("Admin"))
                    {
                        <span>&nbsp; | &nbsp;</span>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <span>&nbsp; | &nbsp;</span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>