@model IEnumerable<WorldDominion.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<h1>Shop by Category</h1>

<div class="department-container">
    @foreach (var item in Model)
    {
        <div class="department-card">
            <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
            <p>@Html.DisplayFor(modelItem => item.Description)</p>
            <div class="buttons">
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                @if (User.IsInRole("Admin"))
                {
                    <span>|</span>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <span>|</span>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </div>
        </div>
    }
</div>
