@model WorldDominion.Models.Cart

@{
    ViewData["Title"] = "View my Cart";    
}

<h1>@ViewData["Title"]</h1>

@if (Model.CartItems != null && Model.CartItems.Any())
{
    <div class="cart-container">
        @foreach(var cartItem in Model.CartItems)
        {
            <div class="cart-item">
                <h3>@cartItem.Product.Name</h3>
                <p>Quantity: @cartItem.Quantity</p>
                <p>Price: $@cartItem.Product.MSRP</p>
                <p>Subtotal: $@(cartItem.Quantity * cartItem.Product.MSRP)</p>
                <form asp-action="RemoveFromCart">
                    <input type="hidden" name="productId" value="@cartItem.ProductId"/>
                    <input type="submit" value="Remove" class="btn btn-danger">
                </form>
            </div>
        }
        <div class="cart-summary">
            <h2>Total</h2>
            <p>$@(Model.CartItems.Sum(cartItem => (decimal)(cartItem.Quantity * cartItem.Product.MSRP)))</p>
            <a class="btn btn-success" asp-controller="Orders" asp-action="Checkout">Checkout</a>
        </div>
    </div>
}
else
{
    <div class="empty-cart">
        <p>Your cart is empty.</p>
        <a class="btn btn-primary" href="@Url.Action("Index", "Products")">Shop Now</a>
    </div>
}